html {
  text-rendering: optimizeLegibility;
}

.title {
  margin: 0;
}

.page {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.page__navigation {
  height: auto;
  padding: 10px 0;
}

.page__main {
  flex-grow: 1;
  padding: 5%;
}

footer.page__footer {
  margin: 0;
  padding: 0;
}
